go 1.23.0

use (
	./services/_template
	./services/hello-service
	./services/world-service
	./tests/infra/terratest
	./tests/infra/perf
	./tests/infra/synthetics
	./db/tools/migrate
	./db/tools/lint
	./db/seeds/operational
	./db/tools/sqlrunner
	./analytics/tests
)
