go 1.21

use (
	./services/_template
	./services/hello-service
	./services/world-service
	./tests/infra/terratest
	./tests/infra/perf
	./tests/infra/synthetics
	./tests/go/unit
	./samples/service-template/go
	./shared/go
)
