global:
  environment: ${environment}

prometheus:
  prometheusSpec:
    retention: "${retention}d"
    scrapeInterval: "30s"

alertmanager:
  config:
    global:
      resolve_timeout: 5m
    route:
      receiver: default
    receivers:
      - name: default
        slack_configs:
          - channel: "${slack_channel}"
            send_resolved: true
            title: "[${environment}] {{ .CommonAnnotations.summary }}"
            text: "{{ .CommonAnnotations.description }}"
