global:
  image:
    tag: v2.11.0

configs:
  params:
    server.insecure: true
  secret:
    createSecret: false

server:
  service:
    type: ClusterIP
    port: 8080
  ingress:
    enabled: false

controller:
  metrics:
    enabled: true
repoServer:
  metrics:
    enabled: true
