global:
  image:
    tag: v2.11.0

configs:
  params:
    server.insecure: true

server:
  service:
    type: ClusterIP
    port: 8080
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      nginx.ingress.kubernetes.io/ssl-passthrough: "true"
    hosts:
      - argocd.dev.ai-aas.local
    tls:
      - secretName: ai-aas-tls
        hosts:
          - argocd.dev.ai-aas.local
          - argocd.prod.ai-aas.local

redis:
  auth:
    enabled: false

controller:
  metrics:
    enabled: true
repoServer:
  metrics:
    enabled: true
